body {
    margin: 0;
    background-color: rgb(253, 240, 231);
}

header {}

.wrapper {
    margin: 0px;
    width: 780px;
}

.logo {
    width: 20%;
    float: left;
}

.logo img {
    width: 100px;
    height: 120px;
    object-fit: contain;
}

nav {
    width: 80%;
    float: left;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(17, 7, 7);
    padding: 20px;

}